{{ define "radio/index.tmpl" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Radio Page</title>
</head>

<body>
    <h1>Welcome to the Radio Page</h1>
</body>

</html>
{{ end }}