{{ define "index.tmpl" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>GoRadio</title>
    <link
        rel="shortcut icon"
        href="static/logo.ico"
        type="image/x-icon"
    >
    <link
        rel="stylesheet"
        href="static/main.css"
    >
</head>

<body>
    <div id="main"></div>
</body>

</html>
{{ end }}